<section class="mapContent" *ngIf="!isDetailedView">
    <mgl-map id="map" [style]="'mapbox://styles/mapbox/streets-v9'" [zoom]="zoom" [center]="center" [centerWithPanTo]="true"
        [pitch]="pitch" movingMethod="jumpTo" [cursorStyle]="cursorStyle">

        <mgl-marker id="dest" *ngIf="showMarker" [feature]="destfeature">
            <!-- <div (click)="onClick(destfeature)" class="markersource" style="background-image: url(../assets/images/descmarker.png);">
            </div> -->
            <img (click)="onClick(destfeature)" class="markersource" src="../../../assets/images/descmarker.png">
            
        </mgl-marker>
        <mgl-popup *ngIf="selectedPoint" [lngLat]="destfeature.geometry?.coordinates" [closeOnClick]="false" (close)="popupClose()">
            {{destfeature.properties.description}}
        </mgl-popup>
       
        <mgl-marker id="source" *ngIf="showMarker" [feature]="feature">

            <div class="marker" [ngStyle]="rotateMarker" style="background-image: url(../assets/images/car.png);">
            </div>
        </mgl-marker>


        <mgl-geojson-source *ngIf="data" id="trace" [data]="data">
        </mgl-geojson-source>
        <mgl-geojson-source *ngIf="routes" id="traceMarker" [data]="routes">
        </mgl-geojson-source>
        <mgl-layer *ngIf="data" id="trace" type="line" source="trace" [paint]="paint">
        </mgl-layer>
        <mgl-layer *ngIf="routes" id="traceMarker" type="line" source="traceMarker" [paint]="{
            'line-color': 'gray',
            'line-opacity': 0,
            'line-width': 7
        }">
        </mgl-layer>
    </mgl-map>
</section>
<div class="footer" *ngIf="!isDetailedView" (click)="openBottomSheet()">
    <p>
        Estimated Travel Time :
        <span class="footerDiv" style="float:right">{{estimatedTime}} min</span>
    </p>
</div>
<div class="settings" >
        <div (click)="openSettings()">
                <button type="button" mat-raised-button color="primary" fxFlex="100%">Settings</button>
        </div>
        
        <div id="demo" class="collapse" *ngIf="isSettings">
         <ul >
             <li (click)="setOption('routepath',0.75)">Show Route</li>
             <li (click)="setOption('routepath',0)">Hide Route</li>
             <li (click)="setOption('destination',0.75)">Destination</li>
             <li (click)="setOption('source',0)">Source</li>
             </ul>
        </div>
    </div>

