<div class="content" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="example-card" fxFlex="90%" fxFlex.gt-md="60%" fxFlex.gt-sm="90%">
    <div fxLayoutAlign="center">
      <img src="../../../../assets/images/feedback.JPG">
    </div>

    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="center center">
        Thank you for your feedback, enjoy the rest of the day.
      </div>
    </mat-card-content>

  </mat-card>
  <!-- <div class="footer" *ngIf="!isDetailedView" (click)="goBack($event)">
    <button mat-raised-button color="primary">Back</button>
  </div> -->
</div>
<!--  <span class="example-pizza-party">
    Pizza party!!! 🍕
  </span>
   -->