 <form class="feedback-form">
 <div class="content">
  <mat-card class="feedback-card">
    <mat-card-content>
      <p style="margin-top:7vh">
        <b>Please take a moment to review our portal tracking services:</b>
        <br>
      </p>
        <span>Did you like using 'Track my patrol' feature?</span>
        <br>
        <div style="text-align: center">
        <mat-button-toggle-group #group="matButtonToggleGroup" (change)="textAreaToggler(group.value)">
          <mat-button-toggle value="yes" [checked]="true" >
            Yes
          </mat-button-toggle>
          <mat-button-toggle value="no" >
            No
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
        <div style="margin-top: 20vh;" *ngIf="enableTextArea">
          <span style="float:left"> If no, how come?</span>
          <br>
          <textarea placeholder="Leave a comment"></textarea>
        </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="footer btn-color">
  <button mat-raised-button color="primary">Submit</button>
</div> </form>