.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
  }
  .example-card {
    padding-top:5px;
    max-width: 400px;
    margin-bottom: 50px;
  }