
  <div class="content">
      <mat-card class="example-card">
          <mat-card-header>
           <!--  <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            
            
          </mat-card-header>
          <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
          <mat-card-content>
            <p>
            <!--   The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting. -->
              You have requested for a RACV patrol van to arrive at:
              <br><br>
              <strong>485, Bourke Street, Melbourne</strong>
              <br><br><br><br>
              Your estimated time to arrival is calculated based on various traffic statistics, and may vary based on real-time traffic.
            </p>
          </mat-card-content>
        
        </mat-card>
    </div>

<div class="footer">
    <p>Footer</p>
  </div>